@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    /* background-color: hsla(219, 25%, 20%, 1); */
    background-color: #263238;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
}

.header {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 50px;
}

.header .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.header .logo-name {
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 15px;
    margin-top: 5px;
}

.header .user {
    cursor: pointer;
}


.viewer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px; 
}

.cornerstone-element {
    width: 1050px;
    height: 600px;
    position: relative;
}

.tool-bar {
    width: 150px;
    height: 600px;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.tool {
    width: 50px;
    background: linear-gradient(90deg, #57BC76 0%, #399252 100%);
    padding: 8px 18px;
    font-size: 20px;
    color: white;
    display: inline-block;
    position: relative;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom: 4px solid rgba(0,0,0,0.21);
    border-radius: 4px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 15%);
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.viewer .sliceText {
    color: rgb(252, 255, 68);
    position: absolute;
    font-size: 26px;
    bottom:6px; 
    right:10px;
}